/*
 * Lo siguiente es parte del HTML5 Boilerplate disponible en GitHub:
 * github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
 */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Estilos propios del sitio web
   ========================================================================== */
.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute; }
  .video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

html, body {
  height: 100%;
  width: 100%; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.no-margin {
  margin: 0; }

.navigation li {
  padding: 5px 10px;
  display: inline-block;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s; }
  .navigation li:hover {
    background-color: rgba(60, 60, 60, 0.4); }
  .navigation li a {
    color: white;
    cursor: pointer; }
    .navigation li a:hover {
      text-decoration: underline; }

.row {
  margin: 0; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.top {
  top: 1.5em; }

.bottom {
  bottom: 0px; }

.right {
  right: 3.5em; }

.up {
  z-index: 10; }

.white {
  background-color: white; }

.black {
  background-color: rgba(34, 34, 34, 0.8); }

.white-text {
  color: white; }

.black-text {
  color: #000; }

.text-center {
  text-align: center; }

.coda {
  font-family: 'Coda', cursive; }

.roboto {
  font-family: 'Roboto', sans-serif; }

.slim {
  font-weight: 300; }

.title {
  font-size: 3.5em; }

.subtitle {
  font-size: 1.8em;
  margin-bottom: 0px; }

.medium, .navigation li {
  font-size: 1.2em; }

.large-padding {
  padding: 10px 15px; }

#description ul {
  margin: 0px; }

#description.absolute {
  bottom: 0px; }

#description.fixed {
  top: 0px;
  padding: 10px 10px; }

#courses-title {
  width: 300px;
  z-index: 5;
  left: calc(50% - 150px);
  top: calc(50% - 5.5em); }

#gallery {
  background-color: #4e4e4e;
  width: 100%;
  overflow-x: hidden; }
  #gallery .inner {
    white-space: nowrap;
    position: relative;
    left: 0%;
    -webkit-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s; }
  #gallery .image {
    display: inline-block;
    margin-right: -4px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center; }

.absolute {
  position: absolute; }

.courses {
  height: 300px;
  background-size: cover;
  background-position: center;
  padding: 0px;
  overflow: hidden; }
  .courses:hover .screen {
    top: 0%; }
  .courses .screen {
    top: -100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    -webkit-transition: top 0.6s;
    -o-transition: top 0.6s;
    transition: top 0.6s; }

.card {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

.container {
  width: 95%;
  background-color: #4e4e4e; }
  .container .card {
    margin-top: -14.3em;
    padding: 1em; }

#account {
  background-color: #4e4e4e;
  margin-top: -14.25em; }

.step-form .step {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  margin: 0px; }
  .step-form .step.active {
    max-height: 150px;
    padding: 1em 0.5em; }
  .step-form .step input {
    font-size: 2em;
    padding: 0.5em;
    border: none;
    outline: none;
    border-bottom: solid 1px #eee;
    background-color: transparent;
    width: 100%; }

.path-step {
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background-color: #a2a2a2;
  display: block;
  margin-top: 2em;
  margin-left: 3em;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  cursor: pointer; }
  .path-step.active {
    opacity: 1;
    background-color: white; }
  .path-step.red {
    background-color: #ff1e1e; }

#location {
  width: 80%;
  margin: 0 auto;
  margin-top: -50px; }

#map {
  height: 500px; }

#nav-control {
  display: none; }

.text-right {
  text-align: right; }

/* ==========================================================================
   Clases del Boilerplate
   ========================================================================== */
.hidden {
  display: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Responsive design
   ========================================================================== */
@media only screen and (max-width: 388px) {
  #responsive-nav ul {
    top: 66px !important; } }

@media only screen and (max-width: 414px) {
  .title {
    font-size: 2.5em; } }

@media only screen and (max-width: 960px) {
  .path-step {
    display: inline-block;
    margin-right: 1em;
    margin-left: 0px; }
  #navigation {
    display: none !important; }
  #nav-control {
    cursor: pointer;
    display: block; }
  #responsive-nav ul {
    position: absolute;
    width: 100%;
    font-size: 1.5em;
    top: 45px;
    background-color: rgba(34, 34, 34, 0.95);
    left: 0px;
    text-align: center;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
    #responsive-nav ul.active {
      max-height: 80vh; }
    #responsive-nav ul li {
      display: block;
      margin-top: 1em;
      padding: 10px 15px; } }

@media only screen and (max-height: 600px) {
  #account, .container .card {
    margin-top: -15%; } }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
